<%- include('partials/header.ejs') %>

<body class="bg-gray-200">

    <div class="grid grid-cols-1 lg:grid-cols-1">
        <div class="lg:min-h-screen lg:flex lg:items-center sm:p-12">
            <div class="items-center flex-grow"> 
               <h1 class="text-center text-white">

                
                

                <a href="/">  
                    <img class="w-1/4 mx-auto" src="/images/logo-hor.png" alt="" />
                </a>

                
                <h1 class="mb-5 text-4xl font-bold text-center text-black-600">Página não encontrada</h1>
               </h1>
               
            </div>
        </div>
    </div>
    



</body>

</html>