<div class="flex p-4 bg-gray-100" >
    <div class="flex-1 inline">
  
      <a href="/">
  
        <img 
        class="w-1/4 mr-1 text-blue-400"
        src="/images/logo-hor.png" 
        alt=""
    />
        
      </a>
      
      
    </div>
    
    <div class="py-6 flex-3">
      <a href="/games" class="px-3 py-2 mr-2 text-yellow-900 transition duration-300 bg-yellow-400 rounded hover:bg-yellow-300 hover:text-yellow-800">Listar Games</a>
      
      <a href="/admin/new-game" class="px-3 py-2 text-yellow-900 transition duration-300 bg-yellow-400 rounded hover:bg-yellow-300 hover:text-yellow-800">Cadastrar Game</a>
    </div>
  </div>
  <hr />